# Продакшн-ветка: отслеживаем только тему и плагин

# По умолчанию игнорируем всё в корне
/*

# Разрешаем сам .gitignore
!/.gitignore

# Разрешаем доступ к wp-content
!/wp-content/

# Внутри wp-content по умолчанию всё игнорируем
/wp-content/*

# Разрешаем только тему Arsenal
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/arsenal/
!/wp-content/themes/arsenal/**

# Разрешаем только плагин Arsenal Team Manager
!/wp-content/plugins/
/wp-content/plugins/*
!/wp-content/plugins/arsenal-team-manager/
!/wp-content/plugins/arsenal-team-manager/**
